@model Product
<html>
<head>

    <style>

        div {
            border-radius: 5px;
            background-color: ghostwhite;
            padding: 10px;
        }

        .center {
            margin: auto;
            width: 60%;
            border: 3px solid #73AD21;
            padding: 10px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="center container shadow p-5">
        <h1>DETAIL DISH COFFEE</h1>
        <form method="post" action="Edit">

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.Label("Name","Name :")<br />
                    @Html.TextBoxFor(model => model.Name, new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text",required="required" })
                </div>
            </div>



            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.Label("Description","Description:")<br />
                    @Html.TextAreaFor(model => model.Description, new { @readonly = "readonly" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.Label("Quantity","Quantity:")<br />
                    @Html.TextBoxFor(model => model.Quantity,"", new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text",required="required" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Images,"", new { @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Images, "", new { required="required" })
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("Price","Price:")<br />
                        @Html.TextBoxFor(model => model.Price,"", new { @readonly = "readonly" })
                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text",required="required" })
                    </div>
                </div>
            </div>




                <div>
                    
                    <a asp-controller="Product" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To Menu List</a>
                </div>

        </form>
    </div>
</body>
</html>